.optionEvent{
  column : red;
}

.btnoutlineorange {
  border-radius: 5px;
  border: 1px solid ;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-color: #ec6424;
  color: #ec6424;  
}

.btnoutlineorange:hover {
  background: #ec6424;
  color: white;
}


#spanname{
  color: white;
}


#tableorange{
  background-color: #ec6424;      
  color: white;
}

#btndark{
    background-color: #353535;
    color : white;
}

#btnorange{
  background-color: #e26328;
  color : white;
}

#tdbtneye{
  text-align: right !important;
}

#btnsearch{
  text-align: right !important;
  background-color: darkorange !important;
  color : black
}

#mensaje{
    margin-left: 270px;
    width: 79%;
}

#titulo{
    margin-left: 270px;    
}

.drop_zone{
    margin-left: 270px;
    width: 79%;
    position: block;    
}


#contenedor_ajax{
  position: block;
  width: 79%;
  margin-left: 273px; 
  display: inline-block;  
  height: 480px;
  overflow-y: scroll;
}

#device{    
    border-radius: 15px;
    background: #353535;
    padding: 20px;
    margin-top: 10px;
    display: inline-block;
    position: flex;
    float : left;
    margin-left: 10px
}

#info_device{
  margin-left: 20px;
  color: white;
}


#device td{
  text-align: left;
}

.response-container{
  position: absolute;
  margin-left: 270px;
}





/* ScrreenShot modal */
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modalScreenShot {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-contenido {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1300px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-contenido, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-contenido {
    width: 100%;
  }
}

